<h1>All Rackets</h1>

<ol>
<% @rackets.each do |racket| %>
    <li>
    <b><%= racket.brand.name %> <%= link_to racket.racket_name, racket_path(racket)%>  -  </b> 
    <%= racket.description %>
    <br>
    <%= link_to "Write a review", new_racket_review_path(racket.id) %>
    </li>
    
    <%end%>
</ol>