
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url(courtsunderlights.jpg);
  background-size: cover;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.content {
  width: 800px;
  height: auto;
  margin: 50px auto;
  box-shadow: 0px 0px 10px 2px grey;
  border: 1px solid black;  
  background-color: #A2CEE0;
  padding: 10px;
  text-align: auto;
}

/* Style the footer */
.footer {
  padding: 10px;
  color: white;
  align: bottom;
}

/* .box {
    height: 100%;
    width: 100%;
    background-image: url("court_lines.jpg"); 
    background-size: cover;
} */


/* body {
    background-image: url("court_lines.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    }

h1 {
    color: black;
    margin-left: 20px;
} */